<div id="mainViewController">

    <div class="container h-100 w-100" ng-show="loadingAnnotations">
        <div class="row align-items-center h-100">
            <div class="col">
                <div>{{ loadingPdfMessage }}</div>
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
    </div>

    <div class="pdf-padding" ng-show="!loadingAnnotations">
        <div class="row d-flex flex-row">
            <span class="icon-handler" ng-click="reloadAnnotations()" ng-show="!notContextId">
                <i class="fas fa-sync"></i>
            </span>
            <div class="form-group col" ng-show="contextPdfs.length>0">
                <select class=" form-control" ng-model="selectedPdf">
                    <option ng-repeat="pdf in contextPdfs" ng-value="pdf">{{ getPdfTitle(pdf) }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="pdf-title-padding" ng-show="isErrorMessage">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">{{ errorTitle }}</h4>
                <p>{{ errorMessage }}</p>
            </div>
        </div>

    <div class="pdf-title-padding" ng-show="isInfoMessage">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">{{ infoTitle }}</h4>
            <p>{{ infoMessage }}</p>
        </div>
    </div>

    <div class="container h-100" ng-show="!loadingAnnotations && selectedPdf!=null">
        <div class="row align-items-center h-100">
            <canvas id="pdf-canvas"></canvas>
        </div>
    </div>

</div>